<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ metadata.name }}</title>

  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">

  <!-- favicons for most use case -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <main class="container">
    <section class="content">
      <div class="logo">
        <img src="/static/logo.svg" alt="Qubit Podcast Logo" />
      </div>
      <div class="latest-podcast">
        <h2 class="latest-podcast-title">#{{ item.episode_number }} - {{ item.name }}</h2>
        <audio preload="none" controls>
          <source src="{{ item.enclosure_url }}" type="{{ item.enclosure_type }}">
          Your browser does not support the audio element.
        </audio>
        {{ item.content | safe }}
      </div>
      {% if item.previous %}<a class="next-arrow" title="Go to next episode" href="{{ item.previous.url }}">⟪</a>{% endif %}
      {% if item.next %}<a class="prev-arrow" title="Go to previous episode" href="{{ item.next.url }}">⟫</a>{% endif %}
    </section>
  </main>
</body>
</html>
